body{
    margin: auto;
    overflow-x: hidden;
    min-width: 220px;
    max-width: 1600px;
}
/********** Navigation bar **********/
.navigationbar{
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
    z-index: 1000;
}
.logreg a{
    display: inline-block;
    text-decoration: none;
}
/*************** Grid ***************/
 .col-md-4, .col-sm-6 {
    margin-left:0;
    margin-right:0;
    margin-top:-10px;
    margin-bottom:-10px;
 }
/************** Banner **************/
.banner{
    height:100%;
    width:100%;
    min-width: 220px;
}
.banner .carousel-inner {
    height: 100vh;
}
/*********** Preview cards **********/
.caregoryheader{
    font-size: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.904);
    color: rgb(255, 255, 255);
    padding-top:10px;
    padding-bottom:10px;
}
.preview{
    width: 230px;
}
.previewcard{
    flex: 0 0 auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 250px;
    margin: 5px;
    border-style: solid;
    border-style: solid;
    scroll-snap-align: start;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/*******************************************/
.carousel_2 .item-box {
    margin: 10px;
    text-align: center;
  }

  .carousel-control-next img, .carousel-control-prev img{
    width: 40px;
    background-color: white;
    border-radius: 50%;
  }
   .previewcard{
    margin: auto;
  }